body {
	font-family: 'Fira Sans', sans-serif;
	font-size: 14px;
}

.hero {
	background-image: initial;
	width: 100%;
	background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(https://images.unsplash.com/photo-1502886315456-e6c2e728db92?auto=format&fit=crop&w=3236&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D);
	background-size: cover;
	background-position: center;
	height: 950px;
}

.hero .container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.hero h1 {
	font-size: 125px;
	text-align: center;
	padding-top: 200px;
}

.first {
	color: #e73c3c;
}

.last {
	color: white;
}

.hero h2 {
	color: white;
	text-align: center;
	font-size: 5vw;
}

.book {
	display: table;
	width: 100%;
	margin-top: 150px;
}

.projects h1 {
	font-size: 54px;
	text-align: center;
	color: #e73c3c;
	margin-top: 200px;
}

.book-row,
.bowtie-row {
	margin-top: 10px;
}

.book-row {
	padding-bottom: 30px;
	border-bottom: 1px solid lightgray;
}

.title {
	text-align: center;
}

.book-image {
	background-image: url(Hershell%20BOOK%20Cover.jpg);
	background-size: 100%;
	width: 300px;
	height: 300px;
	margin: auto;
}

.buy-book {
	padding-top: 30px;
	text-align: center;
	margin-bottom: 40px;
}

.title {
	padding-top: 30px;
}

.btb-image {
	background-image: url(BowtieBrothers.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	width: 300px;
	height: 150px;
	margin: auto;
}

.btb-social {
	padding-top: 10px;
	text-align: center;
}

.footer {
	display: table;
	width: 100%;
	background: linear-gradient( rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(https://images.unsplash.com/photo-1502886315456-e6c2e728db92?auto=format&fit=crop&w=3236&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D);
	background-size: cover;
	background-position: center;
	margin-top: 150px;
}

.footer-image {
	background-image: url(footer-image.png);
	background-size: 100%;
	width: 250px;
	height: 250px;
	border-radius: 50%;
	margin: auto;
	margin-top: 40px;
}

.contact-icons {
	padding-top: 30px;
	text-align: center;
	margin-bottom: 40px;
}

.fb,
.tw,
.em,
.ig {
	margin-left: 10px;
}

.footer-info {
	background-color: rgba(0, 0, 0, 0.6);
	margin-top: 30px;
}

.footer p {
	color: white;
	font-size: 18px;
	margin-top: 30px;
}

@media screen and (max-width: 1199px) {
	.hero {
		height: 800px;
	}
	.hero h1 {
		font-size: 105px;
	}
	.hero h2 {
		font-size: 50px;
	}
}

@media screen and (max-width: 991px) {
	.hero {
		height: 1024px;
	}
	.hero h1 {
		font-size: 55px;
	}
	.hero h2 {
		font-size: 40px;
	}
}

@media screen and (max-width: 767px) {
	.hero {
		height: 700px;
	}
	.hero h1 {
		font-size: 42px;
	}
	.hero h2 {
		font-size: 30px;
	}
}
